@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';
@tailwind base;
@tailwind utilities;

@theme {
  --font-dm-sans: 'DM Sans', sans-serif;

  --color-new-black: #0e0e0f;
  --color-purple: #5534b2;
  --color-yellow: #f5e147;
}

@layer base {
  body {
    @apply font-dm-sans text-[0.9em] text-white;
  }

  h1,
  h2,
  h3 {
    @apply font-medium;
  }
  h2 {
    @apply text-center text-3xl md:text-left md:text-4xl;
  }
  h3 {
    @apply text-xl;
  }

  p,
  li {
    @apply text-justify leading-7 md:text-left;
  }
}

/* Custom components */
@layer components {
  .link {
    @apply cursor-pointer font-medium hover:underline;
  }
  .btn-primary {
    @apply bg-purple inline-flex cursor-pointer items-center justify-center rounded-md px-6 py-2 text-center font-medium text-base;
  }
  .btn-secondary {
    @apply hover:bg-purple cursor-pointer rounded-md px-6 py-2;
  }

  .flex-space-between {
    @apply flex flex-col justify-between md:flex-row md:items-center;
  }

  .small-text {
    @apply text-sm text-white/75;
  }

  .h3-projects {
    @apply text-base md:text-xl;
  }
}
